<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<script type="text/javascript" src="<%=relative_path%>js/copy-to-clipboard.js"></script>



<%-mdhtml%>

</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>