<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<script type="text/javascript" src="<%=relative_path%>js/copy-to-clipboard.js"></script>

<div class="markdown-body">
<% if(md_path){ %>

<% } %>

<%-mdhtml%>

</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>